	/*MODIFICADO PARA GIT*/
	/*SELECTOR POR TIPO*/
body
	{
	background: linear-gradient(#00d8ff, #00a9ff);*/
	/*background: #5ed3ff;*/
	}

h3
	{
	font-family: Helvetica, Arial;
	padding: 2px 2px 2px 2px;
	}
p
	{
	font-family: Helvetica, Arial;
	}

blockquote
{
	font-size: 111%;
	font-family: Helvetica, Arial;
}

	/*SELECTOR POR CLASES*/

.h2								  /*en esta clase coloqué todos los titulos secundarios dentro de la etiqueta <h2> del archivo index.html*/
	{
	font-family: Comic sans MS, Helvetica, Arial;
	font-size: 25px;
	border-left: 6px solid #0072ff;
    background-color: #93e1ff;
    padding: 0px 0px 2px 8px;
    color: #2c58c9;
	}


/*SELECTOR POR ID*/

#TituloPrincipal
	{
	font-family: Lucida sans, Helvetica, Arial; 
	text-align: center;
	border: #2c58c9 3px dotted;
	border-radius: 20px;
	color: #2c58c9;
	background: #93e1ff;
	}

#DatosPersonales
	{
	border: #93e1ff 3px dashed;
	padding: 2px 2px 2px 8px;
	}

#ExperienciaLaboral
{
	border: #93e1ff 3px dashed;
	padding: 2px 2px 2px 15px;
}

#Nombre
{
	text-align: center;
	font-family: Comic sans MS, Lucida sans, Arial; 
	font-size: 180%;
}